*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top right ,#064406,#05c705);
}

.headers{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  width: 100%;
  height: 8em;
}

.headers .head-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.headers .head-logo .head{
  margin: 0;
  padding: 0;
}

.headers .department{
  display: flex;
  width: 30%;
  height: 30px;
  background: #069d06;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 670;
}

.headers .log-out{
  padding-right: 10px;
}

.user-name{
  position: absolute;
  top: 2.5em;
  left: 5px;
  width: auto;
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 1000;
  height: 3em;
  gap: 5px;
}
.user-name .user-nm{
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}

.att-review{
  position: absolute;
  top: 2.5em;
  right: 0px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 1000;
}

.content{
  width: 100%;
  height: 45em;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding: 15px;
  gap: 30px;
}

.content .user-login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 45px;
  border: 2px solid lightgray;
  text-align: center;
  border-radius: 7px;
  transition-duration: 1s;
  font-size: 18px;
  font-weight: 500;
}

.content .current-class{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 45px;
  border: 2px solid lightgray;
  text-align: center;
  border-radius: 7px;
  transition-duration: 1s;
  font-size: 18px;
  font-weight: 560;
}

.content .current-class:hover{
  box-shadow: 0px 5px 10px 1px lightblue;
  transform: translateY(-10%);
}

.content .user-login:hover{
  box-shadow: 0px 5px 10px 1px #7af87a;
  transform: translateY(-10%);
}

.content .canvas{
  border: 1px solid gray;
  border-radius: 7px;
  margin: 0;
  display: block;
  border: 2px solid black;
  touch-action: none;
  z-index: 1;
}

.content .canvas-span{
  color: blue;
  margin: 0;
  padding: 0;
}

.content .clear-canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  width: 30%;
  height: 25px;
  padding: 10px 5px;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 600;
}

.content .mark{
  width: 80%;
  height: 45;
  line-height: 45px;
  background-image: linear-gradient(#15e315,#0c7d0c);
  color: white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}

.side-bar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0%;
  background: #848484;
  z-index: 4;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  transition-duration: 1s;
}
.side-bar .link{
  width: 100%;
  height: 4em;
  font-size: 24;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
  margin: 10px 0;
  
}

.accordion-header {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  background: #848484;
  padding:0;
  margin: 0;
  font-size: 24;
  font-weight: 800;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 10px;
}

.accordion-content ul {
  margin: 10px 0;
  padding-left: 20px;
}
.side-bar a:hover{
  background-color: lightgray;
  color: white;
}
.side-bar .cancle{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.pulse-button {
  animation: pulse 1.2s infinite;
  transition: transform 0.2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.att-view{
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 0em;
  padding: 0;
  background-color: #e9e9e9;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 3;
  overflow: hidden;
  transition-duration: 1s;
  font-size: 17px;
  font-weight: 650;
}
.errorView{
  color: red;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.messager{
  display: block;
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: auto;
  border-radius: 12px;
  background: black;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  transition: top 0.4s ease;
  z-index: 999;
}

.spinner-container{
  display: none; /* Hidden by default, show when needed */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  padding: 25px 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.spinner{
  width: 38px;
  height: 38px;
  border: 6px solid #15e315; /* light green */
  border-top-color: white; /* yellow */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
